{{!--This is the main wrapper for the burger--}}
<main class="container-fluid">

  {{!--Top Bun--}}
  <section class="row topRow">
    <div class="col-md-12">
      <input placeholder="Enter Your Name" id="enterName"></input>
      <button id="eatDaBurger">Get Your Menu</button>
    </div>
  </section>

  {{!--Bottom Bun--}}
  <footer class="row bottomRow">
    <div class="col-md-12">
      <p id="copyright">This Burger was made by &copy; Kyle Rosenmeyer</p>
    </div>
  </footer>

</main>