/**This is the main styling file for the burger*/
/*Tag Styling*/
body {
    background-image: url("../img/grey.png");
    text-align: center;
    font-family: 'Boogaloo', cursive;
    outline: none;
    color: rgb(0,0,0);
}

h1 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
    padding: 50px 10px 20px;
    color: rgb(0,0,0);
}

h3 {
    font-family: 'Cabin', sans-serif;
    color: rgb(0,0,0);
}

p {
    display: block;
    color: rgb(0,0,0);
}

option {
    display: block;
    background-color: transparent;
    border: 3px solid rgb(0,0,0);
}

button {
    display: block;
    margin: 5px auto;
    font-size: 0.8em;
    background-color: transparent;
    border-left: 4px solid rgb(0,0,0);
    border-right: 4px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 8px;
    padding: 2px 8px;
    transition: padding 0.5s;
}

button:hover {
    padding: 2px 16px;
}

textarea {
    display: block;
    margin: 5px auto;
    background-color: transparent;
    border-left: 4px solid rgb(0,0,0);
    border-right: 4px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 10px;
    width: 50%;
    transition: width 0.5s;
    text-align: center;
}

textarea:active, textarea:focus {
    width: 80%;
    outline: none;
    border-left: 4px solid rgb(0,0,0);
    border-right: 4px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 10px;
}

input {
    display: inline-block;
    margin: 5px auto;
    background-color: transparent;
    border-bottom: 2px solid rgb(0,0,0);
    width: 25%;
}

summary, select, select:focus, select:active, button:focus, button:active {
    outline: none;
}

li {
    display: inline-block;
    padding: 2px 10px;
}

/*Class Styling*/
.topRow {
    background-image: url("../img/bread.png");
    border-left: 5px solid rgb(0,0,0);
    border-right: 5px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 100px 100px 20px 20px;
    margin-bottom: 5px;
    margin-top: 3%;
}

.dacurrent {
    background-image: url("../img/lettuce.png");
}

.dapast {
    background-image: url("../img/tomato.png");
}

.datools {
    background-image: url("../img/beef.png");
}

.dapast, .dacurrent, .datools {
    border-left: 5px solid rgb(0,0,0);
    border-right: 5px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 20px;
    margin-bottom: 5px;
}

.bottomRow {
    background-image: url("../img/bread.png");
    border-left: 5px solid rgb(0,0,0);
    border-right: 5px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    border-radius: 20px;
    padding: 20px 0px;
}

/*ID Styling*/
#copyright {
    padding: 10px 0px 0px;
}

#enterName {
    text-align: center;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid rgb(0,0,0);
    outline: none;
    margin: 10px;
    width: 25%;
    transition: width 0.5s;
}

#enterName:active, #enterName:focus {
    outline: none;
    border: 0px 0px 5px 0px solid black;
    width: 40%;
}

